

.New {
    width: 100%;
    display: flex;
  }
  
  .NewContainer {
    flex: 6;
    padding: 20px;
  }
  
  .Mission-cards {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .Mission-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .Mission-card:hover {
    transform: translateY(-5px);
  }
  
  /* .card-content {
    padding: 20px;
  } */
  
  .Card-title {
    margin: 0;
    font-size: 20px;
    color: #333;
  }
  
  .Details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .Details {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .Details:hover {
    transform: translateY(-5px);
  }
  
  .Card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .Card-text {
    color: #666;
    margin-bottom: 10px;
  }
  
  /* CSS for the delete button */
.DELETEBUTTON {
  background-color: #b61e13; /* Red */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 90px;
  margin-right: 100px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.EDITBUTTON{

  background-color: #4569df; /* Red */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
   
}

.delete-button:hover {
  background-color: darkred; 
}


.updatebutton {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
}

.updatebutton:hover {
  background-color: #45a049;
}

.cancelbutton {
  background-color: #b61e13; /* Red */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
}

.cancelbutton:hover {
  background-color: #d32f2f;
}

